input{
    display: block;
    margin: 10px 20px;
    text-align: center;
  }
button{
  margin: 5px auto;
  text-align: center;
}
.col-12{
  border: 2px solid #1E90FF;
  border-radius: 15px;
}
h1{
  margin: 10px auto;
  text-align: center;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
}
  