body{
  min-height: 100vh;
  min-width: 100vw;
  
  background: radial-gradient(ellipse at top, #95bffe, transparent),
              radial-gradient(ellipse at bottom, #2190db, transparent)
}
.container{
    position: absolute;
    top: 25%;
    left: 25%;
    
}
.card{
    background-color: #7ea6f1;
    display: inline-block;
}
.card-personal{
  width: 150px;
  height: 150px;
  margin: 10px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.label{
  text-align: center;
  margin: 3px auto;
  align-items: center;
  font-size: 14pt;
  font-weight: 500;
  border-bottom:3px solid black;
}
.row{
  margin:100px auto;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}